html {
    background-color: #d0d0f0;
    font-family:'Segoe UI'
    
}

body {
    background-image: linear-gradient(#f3f3f3, #d0d0f0);
}

nav {
    text-align: center;
    padding-top: 5px;
    font-family: 'Comic Sans MS';
    font-size: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav a {
    color: #df04fe;
    text-decoration: none;
    margin: 0 15px
}

nav a:hover {
    color: #af04ce;
    text-decoration: underline;
}

h1 {
    font-family:'Comic Sans MS';
    color:darkcyan;
    text-decoration: none;
    text-shadow: 1.2px 1.2px 0 #000000;
}

h2 {
    font-family:'Arial Rounded MT Bold';
    text-shadow: 1px 1px 0 #7f7f7f;
}

a {
    color:darkorchid;
    text-shadow: 1.2px 1.2px 0 #000000;
}

ul {
    text-indent: 0px;
    list-style-type: square;
}

td {
    padding: 8px;
}

.emphasized {
    font-size:24px;
    font-family:'Segoe UI Semibold'
}

.duocolumn1 {
    margin-top: auto;
    margin-left: 18%;
}

.duocolumn2 {
    margin-top:-47.5%;
    margin-left: 62%;
}

.info {
    margin-left: 10%;
    margin-right: 10%;
}