html {
    background-color: #d0d0f0;
    font-family:'Segoe UI'
    
}

body {
    background-image: linear-gradient(#f3f3f3, #d0d0f0);
}

h1, a {
    text-shadow: 1.2px 1.2px 0 #000000;
}

h1 {
    font-family:'Comic Sans MS';
    color:darkcyan;
    text-underline-offset: 9000px;
}

h2 {
    font-family:'Arial Rounded MT Bold';
    text-shadow: 1px 1px 0 #7f7f7f;
}

a {
    color:darkorchid;
}

ul {
    text-indent: 0px;
    list-style-type: square;
}

td {
    padding: 8px;
}

.emphasized {
    font-size:24px;
    font-family:'Segoe UI Semibold'
}

.duocolumn1 {
    margin-top: auto;
    margin-left: 18%;
}

.duocolumn2 {
    margin-top:-47.5%;
    margin-left: 62%;
}

.info {
    margin-left: 10%;
    margin-right: 10%;
}