html {
    background-color: #d0d0f0;
    font-family:'Segoe UI'
    
}

body {
    background-image: linear-gradient(#f3f3f3, #d0d0f0);
}

nav {
    text-align: center;
    padding-top: 5px;
    font-family: 'Comic Sans MS';
    font-size: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav {
    background-color: rgba(0,0,0,0.18);
}

nav a {
    color: #df04fe;
    text-decoration: none;
    margin: 0 15px;
    vertical-align: middle;
}

nav a:hover {
    color: #af04ce;
    text-decoration: underline;
}

h1 {
    font-family:'Comic Sans MS';
    color:darkcyan;
    text-decoration: none;
    text-shadow: 1.2px 1.2px 0 #000000;
}

h2 {
    font-family:'Arial Rounded MT Bold';
    text-shadow: 1px 1px 0 #7f7f7f;
}

a {
    color:darkorchid;
    text-shadow: 1.2px 1.2px 0 #000000;
}

ul {
    text-indent: 0px;
    list-style-type: square;
}

td {
    padding: 8px;
}

.emphasized {
    font-size:24px;
    font-family:'Segoe UI Semibold'
}

.info {
    margin-left: 10%;
    margin-right: 10%;
}

.myself th {
    font-size: 20px;
    text-shadow: 1.04px 1.04px 0 #000000;
}

.myself td {
    padding-left: 20px;
    padding-right: 20px;
}

.resume {
    margin-left: auto;
    margin-right: auto;
}

.resume td {
    text-align: left;
    vertical-align: text-top;
    padding-left: 20px;
    padding-right: 20px;
}

.linkstuff a {
    color: #656500;
    font-size: 18px;
    text-shadow: 1.2px 1.2px 0 #000000;
    text-decoration: none;
}

.favorites td {
    vertical-align: top;
    padding-left: 20px;
    padding-right: 20px;

}

.favorites a {
    color: #000000;
    font-weight:500;
    text-shadow: none;
    text-decoration: underline;
}